In [1]:
num = 1

In [2]:
real_num = 3.14

In [3]:
1 / 3

0.3333333333333333

In [4]:
from decimal import Decimal

In [5]:
Decimal('1.00')

Decimal('1.00')

In [6]:
a = Decimal('1.00')

In [7]:
b = Decimal('2.50')

In [8]:
a + b

Decimal('3.50')

In [9]:
1267650600228229401496703205376

1267650600228229401496703205376

In [10]:
1267650600228229401496703205376 + 123

1267650600228229401496703205499

In [11]:
1000 * 1000

1000000

In [12]:
1000 ** 1000

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [13]:
a = 1

In [14]:
a

1

In [15]:
print(a)

1

In [16]:
123 + 346

469

In [17]:
13 ** 2

169

In [18]:
import math

In [19]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [20]:
some_str = "Hello world"

In [21]:
some_str

'Hello world'

In [22]:
some_str = "Hello \"New\" World"

In [23]:
some_str

'Hello "New" World'

In [24]:
some_str = 'Hello "New" World'

In [25]:
some_str

'Hello "New" World'

In [26]:
some_str[0]

'H'

In [27]:
some_str[1]

'e'

In [28]:
some_str[-1]

'd'

In [29]:
some_str[-2]

'l'

In [30]:
multiline_str = '''Hello
World
New
World'''

In [31]:
multiline_str

'Hello\nWorld\nNew\nWorld'

In [32]:
print(multiline_str)

Hello
World
New
World

In [33]:
multiline_str[0]

'H'

In [34]:
multiline_str[5]

'\n'

In [35]:
len(multiline_str)

21

In [36]:
len(some_str)

17

In [37]:
len_str = len(str)

TypeError: object of type 'type' has no len()

In [38]:
if len_str > 5:
    print("We have a long line")

NameError: name 'len_str' is not defined

In [39]:
print(len(some_str))

17

In [40]:
multiline_str[:5]

'Hello'

In [41]:
multiline_str[0:5]

'Hello'

In [42]:
multiline_str[0:-1]

'Hello\nWorld\nNew\nWorl'

In [43]:
multiline_str[:-1]

'Hello\nWorld\nNew\nWorl'

In [44]:
multiline_str[5:]

'\nWorld\nNew\nWorld'

In [45]:
multiline_str[5:21]

'\nWorld\nNew\nWorld'

In [46]:
some_str + multiline_str

'Hello "New" WorldHello\nWorld\nNew\nWorld'

In [47]:
some_str + ' ' + multiline_str

'Hello "New" World Hello\nWorld\nNew\nWorld'

In [48]:
some_str[4] = 'g'

TypeError: 'str' object does not support item assignment

In [49]:
some_str[:4] + 'g' + some_str[4:]

'Hellgo "New" World'

In [50]:
some_str[:4] + 'g' + some_str[5:]

'Hellg "New" World'

In [51]:
some_str * 2

'Hello "New" WorldHello "New" World'

In [52]:
some_str * 5

'Hello "New" WorldHello "New" WorldHello "New" WorldHello "New" WorldHello "New" World'

In [53]:
dir(some_str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [54]:
'hello world'.capitalize()

'Hello world'

In [55]:
'hello world. new world'.capitalize()

'Hello world. new world'

In [56]:
'hello world. new world'.upper()

'HELLO WORLD. NEW WORLD'

In [57]:
'Hello World. New World'.lower()

'hello world. new world'

In [58]:
'       hello world      '.strip(' ')

'hello world'

In [59]:
'       hello world      '.split(' ')

['', '', '', '', '', '', '', 'hello', 'world', '', '', '', '', '', '']

In [60]:
'hello world'.split(' ')

['hello', 'world']

In [61]:
'       hello world      '.rstrip(' ')

'       hello world'

In [62]:
'       hello world      '.lstrip(' ')

'hello world      '

In [63]:
'       hello world      '.split(' ', 1)

['', '      hello world      ']

In [64]:
uk_str = 'Україна'

In [65]:
uk_str

'Україна'

In [66]:
uk_str.encode('ascii')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-6: ordinal not in range(128)

In [67]:
some_str.find('a')

-1

In [68]:
some_str.find('o')

4

In [69]:
some_str

'Hello "New" World'

In [70]:
some_str.find('o', 5)

13

In [71]:
some_str.count('o')

2

In [72]:
'I am %s years old' % 30

'I am 30 years old'

In [73]:
'I am %.2f years old' % 30.0000012312

'I am 30.00 years old'

In [74]:
'I am %d years old' % 30.0000012312

'I am 30 years old'

In [75]:
'I am %s years old, and my weight is %s' % (30, 71)

'I am 30 years old, and my weight is 71'

In [76]:
'I am %s years old, and my weight is %s' % (30,)

TypeError: not enough arguments for format string

In [77]:
'I am %s years old, and my weight is %s' % (30, 71, 3)

TypeError: not all arguments converted during string formatting

In [78]:
'I am {} years old'.format(30)

'I am 30 years old'

In [79]:
 'I am {:.2f} years old'.format(30.0001)

'I am 30.00 years old'

In [80]:
'I am {0} years old'.format(30.0001)

'I am 30.0001 years old'

In [81]:
'I am {} years old and my weight is {}'.format(30, 123)

'I am 30 years old and my weight is 123'

In [82]:
'I am {0} years old and my weight is {1}'.format(30, 123)

'I am 30 years old and my weight is 123'

In [83]:
 'I am {1} years old and my weight is {0}'.format(30, 123)

'I am 123 years old and my weight is 30'

In [84]:
'I am {1} years old and my weight is {1}'.format(30, 123)

'I am 123 years old and my weight is 123'

In [85]:
'I am {years} years old and my weight is {weight}'.format(years=30, weight=123)

'I am 30 years old and my weight is 123'

In [86]:
years = 30

In [87]:
f'I am {years} years old'

'I am 30 years old'

In [88]:
new_str = f'I am {years} years old'

In [89]:
new_str

'I am 30 years old'

In [90]:
some_list = [1, 2, 3, 4]

In [91]:
some_list

[1, 2, 3, 4]

In [92]:
[1, 'some_str', [2, 3]]

[1, 'some_str', [2, 3]]

In [93]:
len(some_list)

4

In [94]:
some_list[0]

1

In [95]:
some_list[1]

2

In [96]:
some_list[-1]

4

In [97]:
some_list[1:3]

[2, 3]

In [98]:
some_list

[1, 2, 3, 4]

In [99]:
some_list[1] = 5

In [100]:
some_list

[1, 5, 3, 4]

In [101]:
[1, 2, 3, 4] + [5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [102]:
[1, 2, 3, 4] + 5

TypeError: can only concatenate list (not "int") to list

In [103]:
[1, 2] * 2

[1, 2, 1, 2]

In [104]:
l = []

In [105]:
l

[]

In [106]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [107]:
l.append(1)

In [108]:
l.append(2)

In [109]:
l

[1, 2]

In [110]:
l.insert(4, 0)

In [111]:
l

[1, 2, 0]

In [112]:
l.insert(0, 4)

In [113]:
l

[4, 1, 2, 0]

In [114]:
list()

[]

In [115]:
new_l = list('hello world')

In [116]:
new_l

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [117]:
del l

In [118]:
some_list

[1, 5, 3, 4]

In [119]:
some_list.copy()

[1, 5, 3, 4]